@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #060606;
  background-image: linear-gradient(19deg, #060606 0%, #ddd6f3 100%);
}
